<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts/main.js" defer></script>
</head>
<body>
    <script>
        function updateOnlineStatus() {
            const condition = navigator.onLine ? "online" : "offline";
            document.getElementById('offline-message').style.display = condition === "offline" ? "block" : "none";
            
            if (condition === "online") {
                location.reload();
            }
        }

        window.addEventListener('online', updateOnlineStatus);
        window.addEventListener('offline', updateOnlineStatus);
        updateOnlineStatus();
    </script>
</body>
</html>
